<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>zzmodulenico</name>
    <displayName><![CDATA[Module de parrainage]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Module permettant de generer un lien d'inscription unique, qui donne au parain une reduction de panier si il est utilisé. ]]></description>
    <author><![CDATA[GK]]></author>
    <tab><![CDATA[]]></tab>
	<confirmUninstall><![CDATA[Vous désinstallez mon super module. Êtes-vous sûr?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>