@font-face {
    font-family: Bebas;
    src: url('../fonts/BebasNeue-Regular.ttf');
  }

#title_bar {
    display:flex;
    justify-content: space-around; 
    align-items: center;
    background: #626262; 
    font-family: Bebas;
}

div.logo {
    height: 80px;
    width: 80px;
}

div.logo_footer {
    margin-left: 160px;
    margin-right: 160px;
    height: 160px;
    width: 160px;
}

#title_bar a {
    color: #626262;
}


div.connect_cart {
    display: flex;
    color: #626262;
}

h2 {
    font-size: 60px;
    color: #F6C000; 
}


#top-menu a {
    font-size: 30px;
    color: white;
}

#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding: 10px;
    background-color: rgba(98, 98, 98, 0.75); 
    font-family: Bebas;
}

.btn_wishcraft {
    background-color: #F6C000;
    padding: 8px;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
}

body {
    background: no-repeat fixed url("../img/wallpapers.png")
}

#wrapper, #header {
    background: none;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(98, 98, 98, 0.75);
}

.footer-container>div>div>div>div>ul>li>a, .footer-container>div>div>ul>li>a {
    color: white;
}

.footer-container>div>div>div>div>p, #votre_compte, #info {
    color: #F6C000;
}

#contact-infos {
    color: white;
}

.footer_infos{
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin: 40px;
}